@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    border: 1px solid black;
    
}
/* header */
header {
    
    width: 100vw;
    height: 136px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__title{
    font-weight: bold;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 48px;
}
.header__title--blue{
    color: aqua;
}


/* Titulos */
h1{
    text-align: center;
}


/* footer */
footer{
    width: 100vw;
    height: 115px;
    background-color: rgb(69, 134, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__columns{
    width: 16%;
    text-align: center;
} 

.footer__social{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__social-icon{
    text-decoration: none;
    color: black;
    font-size: 24px;
    
}

