@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Jockey+One&display=swap');

:root{
    --cor-principal: #F6ECD1;
    --cor-secundaria: #FC9A1B;
}

/* header */
header {

    width: 100vw;
    height: 20vh;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__title {
    font-weight: bold;
    color: black;
    font-family: "Jockey One", sans-serif;
    font-size: 48px;
}

.header__title--blue {
    color:var(--cor-secundaria);
    font-family: "Italiana", sans-serif;
}

.header__logo{
    height: 20vh;
    display: flex;

    position: fixed;
    left: 100px; 
}

/* Titulos */
h1 {
    text-align: center;
}


/* Main */

main {
    height: 60vh;
    display: flex;
    align-items: center;

    background-image: url(./../image/Background-pizzaria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 350px 0;

}

.form {
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    border-radius: 25px;
    background-color: var(--cor-principal);
    box-shadow: 0px 4px 4px 0px black;
    
    position: relative;
    left: 100px; 
}

.form__input {
    /* width: 50%; */
    width: 320px;
    height: 24px;
}

.form__btn {
    border-radius: 20px;
    padding: 16px 32px;
    background-color: var(--cor-secundaria);
    color: #fff;
    border: none;
    box-shadow: 0px 4px 4px 0px black;
}

.form__btn--action {
    background-color: green;
}

/* footer */
footer {
    width: 100vw;
    height: 20vh;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__columns {
    width: 16%;
    text-align: center;
}

.footer__social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__social-icon {
    text-decoration: none;
    color: black;
    font-size: 24px;
}